body{
    margin: 0;
    padding: 0;
    background: navajowhite;
    /* border: solid black 1em; */
}

.row{
display: flex;
flex-direction: row;
align-items: center;
justify-content:flex-end;
border: white solid;
}

.col-6{
    width: 100%;
    padding: 0%;

}

.center{
    display: flex;
    flex-direction: center;
    justify-content: space-between;
}

button{
    align-content: flex-end;
}

header{
    text-align: center;
    color: firebrick;
}

 h2{
    color: firebrick;
 }

 h3{
    color: firebrick;
 }

 main{
    border: white;
 }

 .container{
    padding: 20px;
 }

 .footerr{
    text-align: center;
    background-color: white;
 }
